$color-bg-main: #f0f0f0;
$color-bg-el: #fff;
$color-primary: #f25627;
$color-fg: #121212;
$shadow: 0 0 0.4rem rgba(darken($color-bg-main, 35%), 65%);
$shadow-inset: inset 0 0 0.3rem rgba(darken($color-bg-el, 35%), 65%);
